<%= render 'layouts/header' %>

<a href = "/pages/test" class = "btn btn-primary" role = "button"> Test</a>

<div class="panel panel-info">
  <div class="panel-heading">
    <h1 class=text-center>&nbsp;I AM KENDALL MORRIS <a href="http://www.imdb.com/name/nm7553881/?ref_=tt_cl_t8" class="btn btn-primary" role="button">HIRE ME OR DIE</a></h1>
  </div>
</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/test.jpg" alt="...">
            <div class="caption">
              <h3>Blur</h3>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      		<div class=text-right>
              	<p><a href="#test" class="btn btn-primary" role="button">More Info</a></p>
      		</div>       
      	  </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/space.jpg" alt="...">
            <div class="caption">
              <h3>Scratch The Fate</h3>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <div class=text-right>
              	<p><a href="#" class="btn btn-primary btn-block" role="button">More Info</a></p>
      		</div>      
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="/tennis.png" alt="...">
            <div class="caption">
              <h3>Helping People</h3>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
      		<div class=text-right>
              	<p><a href="#" class="btn btn-primary" role="button">More Info</a></p>
      		</div> 
      	  </div>
          </div>
        </div>
    </div>

    <form action="#" class = "form-inline">
      <div class = "form-group">
        <label for="email">Email Address</label>
        <input type ="email" required id = "email"
        placeholder="Email Adress" class="form-control">

      <textarea id="textAreaField" rows = "4" class = "form-control"></textarea>
      </div>

      <select id="dropdown" class="form-control">
        <option>pick one</option>
        <option>ONE</option>
        <option>TWO</option>
      </select>
    </form>


    <div class="panel-footer" id = "test">
      Zachary Chao 6/3/2016, FuZhou China lol
      </div>

