<%= render 'layouts/header' %>

<table class="table table-striped">
    <caption>Pricing</caption>
    <thread>
  	    <tr>
  		    <th>Name</th>
  		    <th>Title</th>
  		    <th>URL</th>
  		    <th>Email</th>
  		</tr>
  	</thread>
  	<tbody>
  		<tr>
  			<td>Jennifer</td>
  			<td>Chief</td>
  			<td>I hate this place</td>
  			<td>FUCKING GET ME OUT</td>
  		</tr>
  		<tr>
  			<td>2Jennifer</td>
  			<td>2Chief</td>
  			<td>2I hate this place</td>
  			<td>FUCKING GET ME OUT</td>
  		</tr>
  		<tr>
  			<td>32Jennifer</td>
  			<td>32Chief</td>
  			<td>32I hate this place</td>
  			<td>FUCKING GET ME OUT</td>
  		</tr>
  	</tbody>
  	<tfoot>
  		<tr>
  			<td colspan="4"><p>Mckinly and get me out of here what the fuck im going to die I swear.</p></td>
  		</tr>
  	</tfoot>
</table>
