<%= render 'layouts/sinekoheader' %>

<div class="container">
	<div class="row">
		<h1 class="text-center" style="color:white;">Welcome To Your Dashboard, #User!</h1>
	</div>
	<div class="row">
		<div class="col-sm-12 col-md-12 col-lg-12">
			<div class="panel panel-default" id="pricingpanelpawn">
				<div class="panel-heading">
					<h1 class="panel-title text-center">Let's Take A Look At How You've Been Doing!</h1>
				</div>
				<div class="panel-body" id="price-panel-pawn">
					<a href="#" class="thumbnail">
			    		<img src="/test.jpg" alt="...">
			    	</a>
				</div>
		</div>
	</div>