<%= render 'layouts/sinekoheader' %>

<div class="row">
  <p>&nbsp;</p>
</div>
<div class="row">
  <p>&nbsp;</p>
</div>

<div class="container">
	<div class="row">
		<h1 id="pricingheading" class="text-center" style="color:white">Real Followers. Every Month. Forever.</h1>
	</div>
	<div class="row">
	  <p>&nbsp;</p>
	</div>
	<div class="row">
	  <p>&nbsp;</p>
	</div>
	<div class="row">
	  <p>&nbsp;</p>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-3 col-lg-3">
			<div class="panel panel-warning" id="pricingpanelpawn"style="panel-inner-border:#1A1AA4">
				<div style="background-color:#1A1AA4; color:white" class="panel-heading">
					<h1 class="panel-title text-center"><span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Pawn&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-pawn" aria-hidden="true"></span></h1>
				</div>
				<div class="panel-body" id="price-panel-pawn">
			    	<p class="text-center price" style="color:#1A1AA4">$6</p>
			    	<p class="text-center text-muted priceunder">PER MONTH</p>
			    	<p class="text-center text-info pricetext">
			    	600 Followers / Month<br>
			    	700 Likes / Month<br>
			    	Follower Analytics<br>
			    	OPTIONS<br>SO MANY OPTIONS<br></p>
			    	<p class="text-center"><a style="background-color: #1A1AA4;" class="btn btn-primary btn-lg">Sign Up!</a></p>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-3 col-lg-3">
			<div class="panel panel-warning" id="pricingpanelknight">
				<div style="background-color: #1A1A82; color:white" class="panel-heading">
					<h1 class="panel-title text-center"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Knight&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-knight" aria-hidden="true"></span></h1>
				</div>
				<div class="panel-body">
			    	<p class="text-center text-primary price" style="color:#1A1A82">$12</p>
			    	<p class="text-center text-muted priceunder">PER MONTH</p>
			    	<p class="text-center text-info pricetext">
			    	900 Followers / Month<br>
			    	1100 Likes / Month<br>
			    	Follower Analytics<br>
			    	OPTIONS<br>SO MANY OPTIONS<br></p>
			    	<p class="text-center"><a style="background-color: #1A1A82;" class="btn btn-primary btn-lg">Sign Up!</a></p>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-3 col-lg-3">
			<div class="panel panel-warning" id="pricingpanelrook">
				<div style="background-color:#151569; color:white"class="panel-heading">
					<h1 class="panel-title text-center"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Rook&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-tower" aria-hidden="true"></span></h1>
				</div>
				<div class="panel-body">
			    	<p class="text-center text-primary price" style="color:#151569">$24</p>
			    	<p class="text-center text-muted priceunder">PER MONTH</p>
			    	<p class="text-center text-info pricetext">
			    	1400 Followers / Month<br>
			    	1700 Likes / Month<br>
			    	Follower Analytics<br>
			    	OPTIONS<br>SO MANY OPTIONS<br></p>
			    	<p class="text-center"><a style="background-color: #151569;" class="btn btn-primary btn-lg">Sign Up!</a></p>
				</div>
			</div>
		</div>

		<div class="col-sm-6 col-md-3 col-lg-3">
			<div class="panel panel-warning" id="pricingpanelking">
				<div style="background-color:#0B0B4A; color:white" class="panel-heading">
					<h1 class="panel-title text-center"><span class="glyphicon glyphicon-king" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;King&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-king" aria-hidden="true"></span></h1>
				</div>
				<div class="panel-body">
			    	<p class="text-center text-primary price" style="color:#0B0B4A">$48</p>
			    	<p class="text-center text-muted priceunder">PER MONTH</p>
			    	<p class="text-center text-info pricetext">
			    	2500+ Followers / Month<br>
			    	3200+ Likes / Month<br>
			    	Follower Analytics<br>
			    	OPTIONS<br>SO MANY OPTIONS<br></p>
			    	<p class="text-center"><a style="background-color: #0B0B4A;" class="btn btn-primary btn-lg">Sign Up!</a></p>
				</div>
			</div>
		</div>
	</div>
</div>