<%= render 'layouts/sinekoheader' %>

<div class="row">
  <p>&nbsp;</p>
</div>
<div class="row">
  <p>&nbsp;</p>
</div>
<div class="row">
  <p>&nbsp;</p>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title text-center"><span class="glyphicon glyphicon-pawn" aria-hidden="true"></span>&nbsp;Pawn&nbsp;<span class="glyphicon glyphicon-pawn" aria-hidden="true"></span></h1>
				</div>
				<div class="panel-body">
				
			    <br>Panel content<br>Something<br>Something Else!<br> See itd fill a page!<br><br><br><br><br><br><br><br><br><br><br><br>WOOOOO<br>OPTIONS<br>SO MANY OPTIONS<br><br><br><br><br><br>
				</div>
				<div class="panel-footer">Panel footer</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-success">
				<div style="background-color: #2ecc71; color:white" class="panel-heading">
					<h1 class="panel-title text-center"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>&nbsp;Knight&nbsp;<span class="glyphicon glyphicon-knight" aria-hidden="true"></span></h1>
				</div>
				<div class="panel-body">
			    Panel content
				</div>
				<div class="panel-footer">Panel footer</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-warning">
				<div style="background-color:#2c3e50; color:white"class="panel-heading">
					<h1 class="panel-title text-center"><span class="glyphicon glyphicon-tower" aria-hidden="true"></span>&nbsp;Rook&nbsp;<span class="glyphicon glyphicon-tower" aria-hidden="true"></span></h1>
				</div>
				<div class="panel-body">
			    Panel content
				</div>
				<div class="panel-footer">Panel footer</div>
			</div>
		</div>
		<div class="col-md-3">
			<div class="panel panel-primary">
				<div style="background-color:#c0392b; color:white" class="panel-heading">
					<h1 class="panel-title text-center"><span class="glyphicon glyphicon-king" aria-hidden="true"></span>&nbsp;King&nbsp;<span class="glyphicon glyphicon-king" aria-hidden="true"></span></h1>
				</div>
				<div class="panel-body">
			    Panel content
				</div>
				<div class="panel-footer">Panel footer</div>
			</div>
		</div>
	</div>
</div>